html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #65e8f0;
  background: -webkit-linear-gradient(bottom right, #65e8f0, #f6df92);
  background: -moz-linear-gradient(bottom right, #65e8f0, #f6df92);
  background: linear-gradient(to top left, #65e8f0, #f6df92);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: purple;
  }
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

.Nav {
  max-width: 1920px;
  margin: 30px auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  ul {
    padding: 0;
    display: flex;
    margin: 0;
    a {
      padding: 0 0.5rem;
      text-decoration: none;
      color: black;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.info {
  margin-top: 325px;
  margin-left: 20px;
  padding-left: 1rem;
  font-size: 4.5rem;
  max-width: 960px;
  position: absolute;
  bottom: 50px;

  @media only screen and (max-height: 750px) {
    position: static;
  }
}
